.root
{
    -fx-background-color: #38393d;
}

AnchorPane
{
    -fx-background-color: #38393d;
}

GridPane
{
    -fx-background-color: gray, #38393d;
    -fx-background-insets: 0, 2;
}

.title-box
{
    -fx-background-color: gray,  #38393d;
    -fx-background-insets: 0, 0 0 2 0;
    -fx-padding: 2 2 2 5
}

.title
{
    -fx-text-fill: white;
    -fx-font-family: System Regular;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 5 5 5 0;
}

.text-field-label
{
    -fx-text-fill: white;
    -fx-font-family: System Regular;
    -fx-font-size: 14;
    -fx-padding: 5 5 1 5;
}

.text-field-box
{
    -fx-padding: 0 0 10 15;
}

.check-box
{
    -fx-padding: 10 0 0 5;
}

.menu-bar
{
    -fx-background-color: darkgray;
}

.split-pane
{
    -fx-background-color: #303a69;
}

.split-pane-divider
{
    -fx-background-color: gray;
}

.button-box
{
    -fx-padding: 30 5 5 5;
}

.scroll-pane
{
    -fx-background-color:  #38393d;
}

.viewport
{
    -fx-background-color:  #38393d;
    -fx-border-color: #38393d;
    -fx-padding: 5;
}

.text
{

}
.cell
{
    -fx-background-color: gray, #38393d;
    -fx-background-insets: 0, 2;
}

.symbol
{
    -fx-font-size: 16;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.symbol-locked
{
    -fx-font-size: 16;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #a81919;
}